---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
import "../styles/reset.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Visão Geral</title>
    <link rel="icon" type="image/x-icon" href="../public/favicon.ico" />
  </head>
  <body>
    <h1 class="bg-slate-700">Hello, World!</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
